@import '~@douyinfe/semi-ui/dist/css/semi.min.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --semi-color-primary: rgba(var(--semi-black), 1) !important;
}

body::-webkit-scrollbar{
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.icon svg {
  fill: currentColor;
  width: 100%;
  height: 100%;
}


.semi-tabs-tab-card{
  background-color: #E9ECF2;
  font-size: 24px !important;
  padding: 12px !important;
  align-self: end !important;
}

.semi-tabs-tab-active{
  background-color: black !important;
  color: white !important;
  font-weight: normal !important;
}

.semi-navigation-item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-resizable-handle{
  display: none !important;
}


.semi-table-body::-webkit-scrollbar{
  /* display: none !important; */
}

.semi-modal-wrap::-webkit-scrollbar{
  display: none;
}

.no-scrollbar::-webkit-scrollbar{
  display: none !important;
}

.semi-table-wrapper .semi-spin .semi-spin-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}